header {
    margin: 5%;
}
.form-control {
    size: 300px;
}
.frm {
    margin: 5%;
    width: 960px;
}
.container {
    margin-left: 5%;
    /* margin-right: 5%; */
}
footer {
    text-align: center;
    background-color: #fab83c;
    margin-top: 5%;
}
.down {
    margin-bottom: 0%;
    padding: 2%;
}
/* .volunteer-view {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-left: 70%;
    margin-bottom: 20%;
} */

.flex {
    display: flex;
    flex-direction: row;
}